[Unit]
Description=Bottleneck Notifier
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/bottleneck

# Run the script with uv
ExecStart=/root/.local/bin/uv run --env-file .env main.py

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bottleneck

[Install]
WantedBy=multi-user.target
